@import "normalize.css";

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "Sava Medium";
  src: url("../assets/fonts/SavaPro-Medium.ttf");
}

@font-face {
  font-family: "Sava Regular";
  src: url("../assets/fonts/SavaPro-Regular.ttf");
}

@font-face {
  font-family: "Sava Semibold";
  src: url("../assets/fonts/SavaPro-Semibold.ttf");
}

@font-face {
  font-family: "Sava Bold";
  src: url("../assets/fonts/SavaPro-Bold.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sava Semibold", serif;
  font-size: 18px;
  width: 100vh;
  height: 100vh;
  margin: 0 auto;
  background-image: url('../assets/wallpaper.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70%;
}

.wrapper {
  display: flex;
}

.ancients-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 60%;
  max-height: 35%;
  margin: 30px;
  grid-gap: 10px;

}

.ancient-card {
  width: 100%;
  height: 0px;
  padding-bottom: 129%;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 16px;
  border: 3px solid rgb(68, 64, 61);
  cursor: pointer;
}

.ancient-card:nth-of-type(1) {
  background-image: url(../assets/Ancients/Azathoth.png);
  background-size: 100%;
  background-position: 50%;
  background-size: cover;
}

.ancient-card:nth-of-type(2) {
  background-image: url(../assets/Ancients/Cthulthu.png);
  background-size: 100%;
  background-position: 50%;
  background-size: cover;
}

.ancient-card:nth-of-type(3) {
  background-image: url(../assets/Ancients/IogSothoth.png);
  background-size: 100%;
  background-position: 50%;
  background-size: cover;
}

.ancient-card:nth-of-type(4) {
  background-image: url(../assets/Ancients/ShubNiggurath.png);
  background-size: 100%;
  background-position: 50%;
  background-size: cover;
}

.ancient-card:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.ancient-card:active {
  transform: scale(1);
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 34%;
  position: absolute;
  top: 0;
  right: 0;
  margin: 30px;
  gap: 5px;
}

.difficulty {
  display: flex;
  width: 200px;
  height: 50px;
  border: 3px solid rgb(68, 64, 61);
  border-radius: 8px;
  background-color: rgba(243, 234, 219, 0.5);
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: rgb(54, 49, 39);
  cursor: pointer;
}

.difficulty:hover {
  transition: 0.2s;
  background-color: rgba(243, 234, 219, 0.7);
  transform: scale(1.02);
}

.difficulty:active {
  transform: scale(1);
}

.active {
  border: 4px solid rgb(47, 172, 104);
  background-color: rgba(243, 234, 219, 0.7);
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  height: 50%;
  margin: 20px;
  margin-right: 80px;
}

.stage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stage-number {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 70px;
  color: white;
  font-family: "Sava Bold", serif;
  font-size: 36px;
  margin-right: 30px;
}

.stages {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  border-radius: 8px;
  border: 2px solid rgb(68, 64, 61);
  color: white;
  font-size: 24px;
  font-family: "Sava Regular", serif;
}

.stage.green {
  background-color: rgb(75, 129, 95);
}

.stage.brown {
  background-color: rgb(119, 106, 90);
}

.stage.blue {
  background-color: rgb(78, 103, 138);
}

.deck-container {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 70%;
  max-height: 35%;
  margin: 30px;
  gap: 30px;
}

.deck-wrapper {
  display: flex;
  gap: 30px;
  width: 100%;
  height: 100%;
}

.deck {
  display: flex;
  width: 206px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 16px;
  cursor: pointer;
}

.deck-active {
  background-image: url('../assets/mythicCardBackground.png');
  background-size: 100%;
  background-position: 50%;
  background-size: cover;
}

.deck:hover {
  transform: scale(1.02);
  transition: 0.2s;
}

.deck:active {
  transform: scale(1);
}

.current-card {
  display: flex;
  width: 206px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
  background-size: cover;
  border-radius: 16px;
}

@media (max-width: 1064px) {
  .deck,
  .current-card {
    width: 165px;
    height: 240px;
  }
}

@media (max-width: 700px) {
  .ancients-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 40%;
    margin: 0;
    top: 20px;
    left: 20px;
  }

  .deck-container {
    max-height: 50%;
    width: 100%;
    flex-direction: column;
  }

  .counter {
    width: 100%;
    align-items: flex-end;
    padding-right: 20px;
  }

  .deck-wrapper {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .difficulty-container {
    right: 40px;
    height: 25%;
  }

  .deck-container {
    max-height: 60%;
  }
}

@media (max-width: 430px) {
  .ancients-container {
    display: flex;
    flex-direction: column;
    max-width: 24%;
  }

  .stage-number {
    margin-right: 5px;
  }

  .stages {
    gap: 5px;
  }

  .deck-wrapper {
    gap: 10px;
  }
  
  .deck-container {
    margin: 0;
  }

  .counter {
    margin-right: 0;
  }
}